.navbar-brand{
	padding-top: 10px;
}
.btn{
	background:none;
	padding: 4px 20px;
}
.navbar-collapse
{
    line-height: 60px;
}
.zhu{
	margin-left: -15%;
}
.navbar{
	margin-bottom: 0;
}
@media screen and (max-width: 768px)
{
    .navbar-collapse
    {
        margin-top: 0px;
    }
    .zhu{
	margin-left: 0;
}
}
.banner img{
	width: 100%;
	height: 100%;
}
body{
	background-color: #fff;

}
@media (max-width:768px) {
.c-right{
	width: 100%;
}
}
/*content开始*/
.content{
	padding-top: 5%;
	padding-bottom: 5%;
}
.c-left{
	background-image: url(images/c-bg.png);
	background-repeat: no-repeat;
	padding-top: 6%;
	padding-bottom: 25%;
	padding-right: 15%;
}
.c-left p{
	text-align: center;
	color: #565656;	
	font-weight: bold;
}
.c-left p img{
	display: inline;
}
.yzm{
	padding-left: 0;

}
.c-right{
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	padding-top: 4%;
	padding-left: 1%;
	padding-right: 0%;
	padding-bottom: 4%;
	width: 46%;
	margin-left: 4%;
}	
.btn-lg{
	padding: 3% 0;
	width: 80%;
}
.form-control{
	width: 80%;
}
.yzm .form-control{
	width: 100%;
}
.form-group{
	margin-bottom: 5%;
}
/*process开始*/
.process{
	background-color: #ededed;
	padding-top: 3%;
	padding-bottom: 3%;
}
/*.process img{
	width: 100%;
}*/
.process h2{
	font-weight: bold;
	font-size: 18px;
	color: #565656;
}
.dayu{
	padding-top: 1.7%;
	padding-left: 3%;
}
.process p{
	text-align: center;
	font-size: 12px;
	color: #9c6d43;
}
.process .tupian{
	width: 9.7%;
}
/*footer开始*/
.footer h5{
	font-size: 16px;
	color: #dfe2ea;
}
.f-title{
	padding-top: 1%;
}
.bank{
	width: 14.2%;
}
.bank-z{
	padding-top: 1%;
}
.f-b{
	padding-top: 5%;
}
.f-txt p{
	text-align: right;
	font-size: 12px;
	color: #747779;
}
.footer{
	background-color: #353b48;
}
.footer .bank img{
	width: 100%
}
@media (max-width:768px) {
.c-right{
	width: 100%;
	margin-left: 0;
	padding-left: 17%;
}
.shuru{
	padding: 0;
	width: 80%;
}
.c-left{
	width: 100%;
	padding-left: 12%;
	padding-bottom: 9%;

}
.form-horizontal{
	width: 100%;
}
.form-control{
	width: 100%;

}
.col-md-12{
	padding: 0;
}
.container{
	padding-left: 0;
	padding-right: 0;
}
.process .tupian{
	width:32%;
	text-align: center;

}
.process .tupian img{
	width: 70%;
}
.process .dayu{
	width: 15%;
}
.footer .bank{
		padding-left: 0;
		padding-right: 8px;
     }
.footer .f-b{
	padding-left: 0;
	padding-right: 0;
}
}
